body {
  background-color: black;
  color: white;
  user-select: none;
  touch-action: none;
  margin: 0;
  overflow: hidden;
}

#app canvas {
  margin: 0 auto;
  /* Hide the gap for font descenders. */
  display: block;
}
